# Linear Regression using multiple variables

In [1]:
import numpy as np
import pandas as pd
from sklearn import linear_model

In [2]:
df = pd.read_excel("homeprices.xlsx")
df

   area  bedroom  age   price
0  2500      3.0   20  550000
1  3000      4.0   16  565000
2  3200      NaN   18  610000
3  3700      3.0   32  600000
4  4000      5.0    8  760000

### Data Processing

In [3]:
import math
median_bedroom = math.floor(df.bedroom.median())
median_bedroom

3

In [4]:
df.bedroom = df.bedroom.fillna(median_bedroom)
df

   area  bedroom  age   price
0  2500      3.0   20  550000
1  3000      4.0   16  565000
2  3200      3.0   18  610000
3  3700      3.0   32  600000
4  4000      5.0    8  760000

### Training the data

In [5]:
reg = linear_model.LinearRegression()
reg.fit(df[['area', 'bedroom', 'age']], df.price)

LinearRegression()

In [6]:
reg.coef_

array([   123.17554241, -19201.18343195,  -6252.46548323])

In [7]:
reg.intercept_

399654.83234714

### Predicting

In [8]:
reg.predict([[3300,4,20]])

array([604280.07889546])

In [9]:
# price = m1*area + m2*bedroom + m3*age + c
# where m1, m2 and m3 are coefficients, and c is intercept
#price is dependent variable, whereas area, bedroom and age are independent variable.

123.17554241*3300 + -19201.18343195*4 + -6252.46548323*20 + 399654.83234714

604280.0789077401